body {
    front-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Grande Sans', Arial;
    margin-left: 5em;
    margin-right: 5em;
    background-color: #0093E9;
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);    
}

h1 {
    color:rgb(1, 1, 1);
    font-size: 2.6rem;
}

h2.cargo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    color:rgb(226, 226, 240)
}

h2 {
    font-style: italic;
}

.hover-underline::after,
 .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }
  
 .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }
  
.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
  }

a:link {
    
}
  